.formContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.formContainer textarea,
.formContainer input {
  padding: 10px;
  border: 1px solid rgb(220, 220, 220);
  border-radius: 5px;
  box-sizing: border-box;
}

.formContainer textarea {
  width: 100%;
  height: 100px;
  resize: vertical;
}

.formContainer button {
  width: 80px;
  padding: 10px;
  background-color: #e50914;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submitContainer {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
}
